<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
   <h1>The Goods Page</h1>
   <h2>Show Goods Data By Thymeleaf and Html</h2>
   <table>
      <tr>
         <th>id</th>
         <th>name</th>
         <th>remark</th>
         <th>createdTime</th>
         <th>operation</th>
      </tr>
      <tr th:each="g : ${list}">
        <td th:text="${g.id}"></td>
        <td th:text="${g.name}"></td>
        <td th:text="${g.remark}"></td>
        <td th:text="${#dates.format(g.createdTime, 'yyyy/MM/dd HH:mm:ss')}"></td>
        <td><a th:href="@{/goods/doDeleteById(id=${g.id})}">delete</a></td>
      </tr>
   </table>
</body>
</html>





